<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898903776261-fpc2obbhgeco7njpruvl97mvb5nibqoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898903776261-fpc2obbhgeco7njpruvl97mvb5nibqoa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>898903776261-bl9773ccn3j2vjuacq5lpo51jfdb85e8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDCGBLDAr_2xpBegfJiG3nkV25fx4XLwwY</string>
	<key>GCM_SENDER_ID</key>
	<string>898903776261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timeTracker</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-flutter-af440</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-flutter-af440.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898903776261:ios:40b02e2f65e88a96e6906c</string>
</dict>
</plist>